html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #1b1a1a;
  height: 100vh;
}

.wrapper {
  max-width: 80rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@font-face {
  font-family: "Friends";
  src: url("../assets/GABRWFFR.TTF"), url("../assets/gabrwffr-webfont.woff"), url("../assets/gabrwffr-webfont.woff2");
}
h1,
h5 {
  font-family: JuneBug;
}

header .logo {
  width: 100%;
  height: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .logo img {
  width: 70%;
  height: 70%;
}
header .logo p {
  text-align: center;
  font-size: 2rem;
  color: #fcfcfc;
  font-family: "Friends";
  max-width: 60%;
  text-align: center;
}

.quote-selection {
  width: 100%;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.quote-selection .dropdown {
  width: 50%;
  text-align: center;
}
.quote-selection .dropdown label {
  color: #fcfcfc;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  padding-right: 1.5rem;
}
.quote-selection .dropdown select {
  width: 10rem;
  padding-left: 0.625rem;
  height: 2.5rem;
}
.quote-selection .random-button {
  width: 50%;
  text-align: center;
}
.quote-selection .random-button button {
  background-color: #f8bc1a;
  color: #1b1a1a;
  width: 20rem;
  height: 3.12rem;
  border-radius: 0.625rem;
  border: 1px solid #fcfcfc;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Friends";
}
.quote-selection .random-button button i {
  color: #1b1a1a;
  padding-left: 0.625rem;
}
.quote-selection .random-button button:hover {
  background-color: #e2a600;
}

.quote-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  height: 40rem;
}
.quote-section .doorframe {
  position: relative;
  width: 50%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.quote-section .doorframe .frame {
  position: absolute;
  z-index: 5;
  width: 80%;
  height: auto;
}
.quote-section .doorframe .friendPhoto {
  z-index: 1;
  position: absolute;
  width: 220px;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 0;
     object-position: 100% 0;
}
.quote-section .quotebox {
  height: auto;
  width: 50%;
}
.quote-section .quotebox .board {
  background-color: #1b1a1a;
  border-radius: 0.625rem;
  width: 90%;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.quote-section .quotebox .board p {
  font-family: "Friends";
  color: #fcfcfc;
  padding: 2rem;
  font-size: 2rem;
}

footer {
  width: 100%;
  bottom: 0;
  position: absolute;
}
footer .wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .logo-footer {
  width: 30%;
  height: auto;
}
footer h5 {
  font-size: 20px;
  text-align: center;
  color: #fcfcfc;
  font-family: "Friends";
}

@media (min-width: 700px) and (max-width: 840px) {
  .quote-section .doorframe .friendPhoto {
    width: 11.25rem;
    height: 11.875rem;
  }
}
@media (max-width: 699px) {
  header .logo {
    height: auto;
  }
  header .logo p {
    max-width: 100%;
    font-size: 1.5rem;
  }

  .quote-selection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .quote-selection .random-button {
    width: 100%;
  }
  .quote-selection .dropdown {
    width: 100%;
  }

  .quote-section {
    margin: 1.875rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .quote-section .quotebox {
    width: 100%;
  }
  .quote-section .quotebox .board {
    width: 100%;
    margin-top: 4rem;
  }
  .quote-section .doorframe {
    width: 100%;
  }
  .quote-section .doorframe .friendPhoto {
    max-width: 9.8rem;
    height: 12.5rem;
  }

  footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  footer h5 {
    font-size: 0.813rem;
  }
}